<br>
<section>
  <form [formGroup]="form" class="form-container">
    <label for="array">Array:</label>
    <input type="text" name="array" id="array" formControlName="array">
    
    <label for="method">Method:</label>
    <select name="method" id="method" formControlName="method">
      <option value="bubble">Bubble sort</option>
      <option value="counting">Counting sort</option>
      <option value="quick">Quick sort</option>
    </select>

    <button (click)="sendData()" [disabled]="!form.valid">Start</button>
  </form>
</section>

<div style="display: block">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [legend]="false"
          [options]="barChartOptions"
          [type]="barChartType"
  >
  </canvas>

  <button type="button" class="btn btn-danger" (click)="nextMatrix()">Next</button>
</div>

<br><br>