.form-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 20px;
}
.form-container > *:not(button) {
    width: 80%;
}
.form-container > button {
    width: 100%;
    max-width: 300px;
    background-color: #f93154;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
    padding: 10px;
    margin: 10px;
}
.form-container > input, .form-container > select {
    margin-bottom: 10px;
    padding: 10px;
}

.chart-container {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    padding: 10px;

}